.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 188%;
  }
  
  .full-width {
    width: 188%;
  }

  .button-center {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  mat-form-field {
    margin-right: 12px;
  }
  